<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="com.gurubanking.utilities.ExtendReportNG" />
</listeners>
  <test name="Test">
  <parameter name="browser" value="chrome"/>
    <!-- <classes>

      <class name="com.gurubanking.testcases.LoginTest">
      <methods>   
    <include name="validLoginTest" />
    <include name="resetCredentialsTest" />
    </methods>
    </class> -->
    <!-- </classes> -->
    
    <classes>
      <class name="com.gurubanking.testcases.NewCustomerTest">
      <methods>   
    <include name="verifyNewCustomer" />
    </methods>
    </class>
    </classes>
  </test> 
</suite> 
